.upcoming-movie-container {
  display: flex;
  flex-direction: column;
  background-color: #39393b;
}
.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
