.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #49494d;
}
.topRated-search-container {
  display: flex;
  flex-direction: row;
}
.movie-icon {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 40px;
}
.icon-container {
  display: flex;
  flex-direction: row;
}
.searchBtn {
  background-color: #d9dbde;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.heading {
  margin-top: 30px;
  color: #ffffff;
}
.page-name {
  color: #ffffff;
  margin: 20px;
}
.search-container {
  margin-top: 20px;
}
.search-input {
  background-color: #ffffff;
  color: #636973;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
}
.link {
  text-decoration: none;
}
